.App {
  text-align: center;
  border: transparent;
  margin-top: -20px;
  padding-bottom: 25px;
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}
.App div {
  margin: auto;
  width: 95%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}
h2 {
  color: #fff;
}
.title {
  width: 350px;
  height: 50px;
}
#title {
  height: 75px;
}
.ratings {
  width: 100px;
}
.date {
  width: 135px;
}
.cast {
  width: 150px;
}
.modify {
  width: 125px;
}
thead tr {
  background-color: #047BD5;
}
.btn {
  outline: none;
  border: transparent;
  background-color: orange;
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
}
tbody th {
  font-size: 15px;
  font-weight: 500;
}
thead th {
  font-size: 17px;
}